{% extends "base.html" %}
{% block content %}
        <div class="row mb-3">
          <h1 class="mt-3 display-4">Отзывы</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Автор</th>
                <th scope="col">Текст</th>
                <th scope="col">Дата добавления</th>
                <th scope="col">Действие</th>
              </tr>
            </thead>
            <tbody>
              {% for review in reviews %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ review.author }}</td>
                <td>
                  <p>Отзыв к фильму: {{ review.movie.name }}</p>
                  {{ review.description }}
                </td>
                <td>{{ review.created_at }}</td>
                <td>
                  <a href="{{ url_for('delete_review', review_id=review.review_id) }}" class="btn btn-sm btn-outline-secondary">Удалить</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock content %}
